.button {
  padding: 16px 24px;
  font-size: 18px;

  &--primary {
    outline: 2px solid var(--nui-color-black);
    outline-offset: -2px;

    .button__text {
      color: var(--nui-color-black);
      font-weight: 600;
    }
  }
}
