@import 'sxcss';

[data-name-prefix="nui"] {

  &.button {
    @include hover-effect($opacity: .36);
    padding: 0 24px;
    height: 56px;
    font-size: 18px;
    @include flex($place: center);
  }

  .button__text {
    font-weight: 500;
  }

  &.button--primary {
    background-color: transparent;
    outline: 2px solid var(--nui-color-black);
    outline-offset: -2px;

    .button__text {
      color: var(--nui-color-black);
    }
  }
}
